.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/scope_settings.xml
.DS_Store
/build
/app/app.iml
MediaShow.iml